ADMIN_PASSWORD = "CHANGE-ME"

SERVER_API_URL = ""
SERVER_API_TOKEN = ""
SERVER_TIMEOUT = 10
SERVER_TIMESTAMP_FIELD = "timestamp"
SERVER_TEMPERATURE_FIELD = "temperature"
SERVER_SENSOR_FIELD = "sensor_id"
SERVER_BUILDING_FIELD = "building"
SERVER_ROOM_FIELD = "room"

CO2_SERVER_API_URL = ""
CO2_SERVER_API_TOKEN = ""
CO2_SERVER_TIMEOUT = 10
CO2_SERVER_TIMESTAMP_FIELD = "timestamp"
CO2_SERVER_VALUE_FIELD = "co2"
CO2_SERVER_SENSOR_FIELD = "sensor_id"
CO2_SERVER_BUILDING_FIELD = "building"
CO2_SERVER_ROOM_FIELD = "room"
